header {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 120px;
    background-color: #e36a00;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    margin-top: 0;
    height: 400px;
    width: 100%;
    align-items: center;
}

header img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

header h2 {
    margin-block-start: 5px;
    margin-block-end: 10px;
    font-size: 3.5vw;
}