    nav {
        display: flex;
        flex-direction: row;
        position: fixed;
        height: 120px;
        width: 100%;
        background-color: #4056A1;
        z-index: 1000;
        font-family: 'Bungee';
        color: #FFFF;
    }
    
    nav span#title {
        position: relative;
        top: 1.5em;
        bottom: 1.5em;
        left: 1.5em;
    }
    
    nav span.newtweet {
        font-family: 'Times New Roman', Times, serif;
        align-items: flex-end;
    }
    
    #write {
        padding-left: 400px;
        font-weight: 600;
    }
    
    .arrow {
        position: absolute;
        top: 50%;
        width: 3vmin;
        height: 3vmin;
        background: transparent;
        border-top: 1vmin solid white;
        border-right: 1vmin solid white;
        box-shadow: 0 0 0 lightgray;
        transition: all 200ms ease;
    }
    
    .right {
        right: 0;
        transform: translate3d(0, -50%, 0) rotate(135deg);
    }
    
    .right:hover {
        border-color: orange;
        box-shadow: 0.5vmin -0.5vmin 0 white
    }
    
    nav img:hover {
        cursor: all-scroll;
    }