article.tweet {
    margin-top: 20px;
    border: solid 2px rgb(31, 14, 14);
}

article.tweet:hover {
    font-weight: 600;
}

div.header {
    display: flex;
    /*  justify-content: center;
     For horizontal alignment */
    align-items: center;
}

div.header div {
    display: none;
    justify-content: right;
}

article.tweet div.header div {
    display: block;
}

article p {
    border-bottom: 2px solid rgb(31, 14, 14);
}

article footer {
    height: 2em;
}

article footer div#timestamp {
    float: left;
}

article footer div {
    float: right;
}